---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
          {% for post in site.posts %}
          <div class="panel panel-default">
              <div class="panel-body">
                <p><a class="lead" href="{{ post.url }}">{{ post.title }}</a></p>
                {% if post.summary %}
                <p>{{ post.summary }}</p>
                {% else %}
                <p>{{ post.excerpt }}</p>
                {% endif %}
              </div>
              <div class="panel-footer">Panel footer</div>
          </div>
          {% endfor %}
        </div>

        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
