{% if page.url != '/' and page.url != '/index.html' %}
<style type="text/css">
.ds-powered-by {
    display: none;
}
</style>
<script type="text/javascript">
var duoshuoQuery = {short_name:"xtopic"};
(function() {
  var ds = document.createElement('script');
  ds.type = 'text/javascript';
  ds.async = true;
  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
  ds.charset = 'UTF-8';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();

$(document).ready(function() {
  $(".ds-powered-by").hide();
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endif %}