<footer id="footer-outer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            	<div class="center-block">
                	<p style="text-align:center;">{{ site.title }}</p>
                	<p style="text-align:center;">{{ site.email }}</p>
                	<p style="text-align:center;">
                		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257703308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1257703308%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                		-
                		<a target="_blank" href="http://www.github.com/xtopic">http://www.github.com/xtopic</a>
                	</p>
                </div>
            </div>
        </div>
    </div>
</footer>