<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">导航菜单</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index.html" data-toggle="tooltip" data-placement="bottom" title="XTopic首页">
                <!--img alt="XTopic" src="..."/-->
                XTopic
            </a>
        </div>

        <div id="navbar-menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--li id="tab-home" data-toggle="tooltip" data-placement="bottom" title="XTopic首页"><a href="/index.html">XTopic</a></li-->
                <li id="tag-itech" data-toggle="tooltip" data-placement="bottom" title="技术分享"><a href="/itech/index.html">博客</a></li>
                <li id="tag-inews" data-toggle="tooltip" data-placement="bottom" title="新闻播报"><a href="/inews/index.html">新闻</a></li>
                <li id="tag-ibaby" data-toggle="tooltip" data-placement="bottom" title="家有儿女"><a href="/ibaby/index.html">育儿</a></li>
                <li id="tag-mmimg" data-toggle="tooltip" data-placement="bottom" title="养颜美图"><a href="/mmimg/index.html">美图</a></li>
                <li id="tag-ilife" data-toggle="tooltip" data-placement="bottom" title="生活百态"><a href="/ilife/index.html">生活</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="tab-about" data-toggle="tooltip" data-placement="bottom" title="XTopic详情"><a href="javascript:void(0);">关于</a></li>
            </ul>
        </div>
    </div>
</nav>