---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
          <div class="panel panel-default">
              <div class="panel-body">
              	<p class="lead">{{ page.title }}</p>
                <p class="small text-muted">时间：2016-02-26 15:23:35</p>
                {% if page.refurl %}<p class="small text-muted">原文：http://www.baidu.com</p>{% endif %}
                <hr/>
              	<p>{{ content }}</p>
              </div>
          </div>
        </div>
        <div class="col-md-5">
            {% include comment.html id=page.id title=page.title url=page.url %}
        </div>
    </div>
</div>
